*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
    width: 70%;
    border: 6px groove orangered;
    text-align: center;
    margin: 30px auto;
    color: rgb(98, 95, 95);
    background-image: linear-gradient(to top, rgb(252, 229, 186), rgb(250, 196, 196));
    padding: 20px;
}
.content h2{
    margin: 10px 0px;
}
.content h3{
    margin-top: 30px;
    padding: 15px;
    display: inline-block;
}
.content div{
    margin: 15px 0;
}
.content button{
    padding: 10px;
    margin: 5px 1px;
    border-radius: 5px;
    background-color: rgb(210, 120, 120);
    color: brown;
    cursor: pointer;
}
.content button:hover{
    color: whitesmoke;
    background-color: brown;
}