* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}

h2 {
    margin-top: 25px;
    color: #0056b3;
}

.content {
    width: 450px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 15px;
}



.buttons button {
    margin: 5px;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #007bff;
    border-color: blue;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

.profile-card{
    width: 450px;
    border: 1px solid rgb(186, 186, 186);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}
.left{
    line-height: 1.5rem;
}
.profile-card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 25px;
    }
    .controls button{
        margin: 5px;
        padding: 8px 15px;
        border-radius: 4px;
        background-color: rgb(16, 172, 16);
        border-color: green;
        color: white;
        cursor: pointer;        
    }
    .controls button:hover{
        background-color: green;
    }