*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 248, 249);
}
/*---------------------------------Reading field values,Setting field values(49, 50)------------------------------*/
.content{
    width: 70%;
    border: 5px groove dodgerblue;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    color: rgb(96, 81, 81);
    font-weight: bold ;
}
.content h1{
    margin: 20px 0px;
}
.content input{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
.button{
    background-color: green;
    color: white;
}
.button:hover{
    background-color: rgb(6, 164, 6);
    color: black;
}