*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    width: 70%;
    border: 6px groove aqua;
    text-align: center;
    margin: 30px auto;
    color: rgb(98, 95, 95);
    background-image: linear-gradient(to right, rgb(185, 185, 252), rgb(215, 252, 252));
    padding: 20px;
}