*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: algerian;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.main{
    width: 60%;
    margin: auto;
    background-color: rgb(201, 248, 107);
    padding: 25px;
    border: 4px dotted rgb(117, 171, 10);
    text-align: center;

}
.main h1, h2{
    margin-bottom: 8px;
}
dt{
    font-weight: bold;
    color: gray;
    margin-top: 25px;

}
.main img{
    width: 80%;
    margin: 25px 0;
}