*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.content{
    width: 80%;
    margin: 10px auto;
    text-align: center;
    border: 5px dashed blueviolet;
    padding: 30px;
}
dl > dt{
    font-weight: bold;
    color: blueviolet;
    margin-top: 15px;
}