*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;    
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
     
}
.main{
    border: 10px double rgb(157, 157, 240);
    background-image:linear-gradient(to right, rgb(232, 232, 249), rgb(216, 179, 251)) ;
    width: 70%;
    margin: auto;
    padding: 25px;
    text-align: justify;
}
.main h1{
    text-align: center;
}
dl > dt{
    font-weight: bold;
    font-size: 1.3rem;
    margin: 40px 0 3px 0;
    color: rgb(87, 83, 83) ;

}
dl >dd{
    padding: 5px;
}
dd > u{
    font-weight: bold;
    color: blueviolet;
}