*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 248, 249);
}
/*-------------------------------------Reading and Setting paragraph text(51)---------------------------------*/
.content{
    width: 70%;
    border: 5px groove dodgerblue;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    color: rgb(96, 81, 81);
    font-weight: bold ;
}
.content h1, h2{
    margin: 20px 0px;
}
.content h2{
    color: rgb(7, 122, 237);
}
.readPara, .setPara{
    padding: 10px 25px;
    margin: 10px;
    background-color: rgb(8, 99, 210);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;

}
.content input{
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}